.navbar {
  background-color: #111111;

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 150px;

      &-company {
        position: relative;
        margin-left: -12px;
        display: flex;
        max-width: 60px;
      }

      &_name {
        position: relative;
        margin-left: -12px;
        color: white;
        font-family: Roboto Mono, monospace;
        font-weight: 600;
        font-size: 14px;
      }

      &:hover {
        .logo-company {
          content: url('/assets/img/HelpPoit_logo.png'); // Указываем новое изображение
        }
        .logo_name {
          color: rgba(13, 138, 194, 1); // Меняем цвет текста при наведении
        }
      }
    }

    .request {
      font-family: Inter, sans-serif;
      font-weight: 500;
      font-size: 14px;

      &_create, &_my {
        color: white;
        text-transform: uppercase;
        padding: 10px 22px;
        position: relative;
      }
      a::after {
        content: "";
        position: absolute;
        bottom: -30%;
        left: 0;
        width: 0;
        height: 3px;
        border-radius: 10px;
        background: rgba(13, 138, 194, 1);
      }
      a:hover::after {
        width: 100%;
      }
      :hover {
        background: #333333;
        border-radius: 10px;
      }
    }

    .select {
      display: flex;
      justify-content: end;
      position: relative;
      cursor: pointer;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 500;

      .select_title {
        display: inline-block;
        padding: 10px;
        background: #333333;
        color: white;
        border: none;
        border-radius: 10px;
      }
    }

    .select[data-state='active'] .select_options {
      display: block;
      z-index: 9;
    }
    .select_options {
      text-transform: uppercase;
      display: none;
      position: absolute;
      right: 0;
      transform-origin: top right;
      background: #292929;
      z-index: 10;
      white-space: nowrap;
      margin-top: 50px;
      color: white;
      border-top: 4px solid rgba(13, 138, 194, 1);
      border-radius: 6px;
    }
    .select_label {
      margin: 10px;
      padding: 20px;
    }
    .select_label:hover {
      background: #333333;
      border-radius: 10px;
    }
  }
}
