<footer class="footer">
   <article class="container footer_grid">
     <section class="copyright footer_flex">
       <div class="logo">
         <img src="/assets/img/HelpPoit_logo_white.png" alt="Logo Company" class="logo-company">
         <span class="logo_name">HelpPoint</span>
       </div>

       <p class="footer_copyright_text">© 2024 Riot Games Inc. Все права сохранены. Riot Games Inc. и League of Legends являются торговыми марками или зарегистрированными товарными знаками, принадлежащими Riot Games Inc.</p>
     </section>

     <section class="more_info footer_flex">
       <h3 class="footer_h3">Дополнительная ифнормация</h3>
       <a href="" class="footer_link">Условия использования</a>
       <a href="" class="footer_link">афыафывавыфа</a>
       <a href="" class="footer_link">фыафываывфаывфа</a>
     </section>

     <section class="message footer_flex">
      <h3 class="footer_h3">Социальные сети</h3>
       <a href="" class="footer_link tg">Telegram</a>
       <a href="" class="footer_link vk">VKontakte</a>
       <a href="" class="footer_link yt">YouTube</a>
       <a href="" class="footer_link x">X</a>
       <a href="" class="footer_link tw">Twitch</a>
     </section>
   </article>
</footer>
