<main>
  <app-nav-bar></app-nav-bar>

  <section class="greeting">
    <div class="container">
      <div class="greeting_user">
        <div class="greeting_user_text">
          <span class="greeting_user_text_span">Поддержка <span class="greeting_user_text_span_logo">HelpPoint</span></span>
          <a href="page 2" class="greeting_user_text_ref">Москалюк</a>
        </div>
        <div class="greeting_user_foto">
          <img src="/assets/img/operator.png" alt="" class="greeting_user_foto_img">
        </div>
      </div>
    </div>
  </section>
kljlkjklj
  <section class="complaints">
    <div class="container">
      <div class="complaints_info">
        <div class="complaints_text">
          <h3 class="complaints_text_h3">Жалобы и проблемы</h3>
          <ol class="complaints_text_list">
            <span>Самый быстрый способ добиться результатов – пожаловаться на нарушителей из Истории игр внутри клиента:</span>
            <li>1.sfsdf</li>
            <li>2.sdafdsaf</li>
            <li>3.sdfasdf</li>
          </ol>
        </div>

        <div class="complaints_foto"></div>
      </div>
    </div>

  </section>

</main>

